<style>
    .body {
        background-color: red !important;
    }
    .top-half {
      display: grid;
      place-content: center;
      line-height: 1.3;
      /* add padding around top/bottom and left/right sides */
      padding: 16px 48px;
      /* min-height: 100vh; */
      background-image: linear-gradient(to right top, #87ceeb, #97cde1, #a6ccd8, #b5cad0, #c3c8c9);
    }
    .bottom-half {
        background-image: linear-gradient(to right top, #87ceeb, #97cde1, #a6ccd8, #b5cad0, #c3c8c9);
    }
    .leftandright {
        display: flex;
        row-gap: 16px;
        column-gap: 16px;
        justify-content: space-around;
        flex-wrap: wrap; 
    }
    .landr {
        max-width: 50%;
    }
    .secondry-colour-text {
        color: ghostwhite;
    }
    .ticklist {
        list-style: none;
        line-height: 1.5;
    }
    .ticklist li:before {
        content: '✓';
    }
    .heading-aboutus, .heading-team {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        /* font-size: 48px; */
        text-align: center;
    }
    .heading-team {
        margin-top: 0px;
        padding-top: 19px;
    }
    .employee-msg {
        /* color: black; */
        font-weight: 500;
        text-align: center;
        font-size: 24px;
    }
    .employee-container {
        margin: 0;
        display: grid;
        place-content: center;
        /* center on y-axis */
        min-height: 100vh;
    }
    .pic-about {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        height: 400px;
        width: 400px;
        object-fit: cover;
    }
    .employee-name {
        font-style: italic;
    }
    .employee-desc {
        text-align: center;
    }
    .job {
        letter-spacing: 1px;
        font-weight: bold;
    }
</style>
{% extends 'base.html' %}

{% block title %} About Us {% endblock %}
    

{% block content %}
    <div class="top-half">
        <div class="top-lines">
            <h1 class = "heading-aboutus">About CoolWater</h1>
            <p>
                CoolWater is a licenced non-life insurer and financial services provider, offering customers a range of non-life&nbsp;<a href="/policieslist">car</a> insurance products.
            </p>
            <p>
                Our major shareholder is&nbsp;<a href="https://www.santam.co.za/" target="_blank">Santam</a>, a blue-chip JSE-listed company, giving CoolWater enough financial muscle and credibility to help build our unique brand identity.
            </p>
            <p>
                <strong>
                    At CoolWater, we are fanatical about delivering an awesome customer experience. We view this as a real differentiator and are passionately committed to ensuring that we always keep to our promises, and deliver the type of service that our customers deserve.
                </strong>
            </p>
        </div>
        <div class="leftandright">
            <div class="landr">
                <h3 class="secondary-colour-text">Why CoolWater?</h3>
                <p>CoolWater enables you to:</p>
                <ul class="ticklist">
                    <li>
                        Choose the type of insurance cover that suits your needs and your pocket, simple to understand, without the fine-print
                    </li>
                    <li>
                        Decide your preferred way to interact with us: via our call centre or online: 24/7/365
                    </li>
                    <li>                        
                        Experience a hassle-free and efficient claims process
                    </li>
                    <li>                         
                        Choose flexible excesses
                    </li>
                </ul>
            </div>
            <div class="landr">
                <h3 class="secondary-colour-text">Still not convinced?&nbsp;</h3>
                <p>Here are some more ways you can live your way by insuring with CoolWater:</p>
                <ul class="ticklist">
                    <li>
                        Compare multiple car insurance quotes
                    </li>
                    <li>
                        View all of your claims in one basket
                    </li>
                    <li>
                        Buy your insurance online and save!
                    </li>
                    <li>
                        Update your details or amend your policy without speaking to an agent
                    </li>
                    <li>
                        View your insured items and payment history
                    </li>
                    <li>
                        Submit your claims online
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-half">
        <h2 class = "heading-team">CoolWater's Management Team</h2>
        {%for employee in employees%}
            <div class = "employee-container">
                <!-- mustache -->
                <img class= "pic-about" src="{{employee['pic']}}", alt="Profile picture"> 
                <p class = "employee-msg">
                    <span class = "employee-name">
                        {{employee["name"]}} 
                </span> - <span class = "job">{{employee["job_title"]}}</span>
                </p> 
                <p class = "employee-desc">{{employee["desc"]}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}