<style>
    .heading-aboutus {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        /* font-size: 48px; */
        text-align: center;
    }
    .employee-msg {
        /* color: black; */
        font-weight: 500;
        text-align: center;
        font-size: 24px;
    }
    .employee-container {
        margin: 0;
        display: grid;
        place-content: center;
        /* center on y-axis */
        min-height: 100vh;
    }
    .pic-about {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        height: 400px;
        width: 400px;
        object-fit: cover;
    }
    .employee-name {
        font-style: italic;
    }
    .employee-desc {
        text-align: center;
    }
    .job {
        letter-spacing: 1px;
        font-weight: bold;
    }
</style>
{% extends 'base.html' %}

{% block title %} About Us {% endblock %}
    

{% block content %}

    <h1 class = "heading-aboutus">About Us</h1>
    <!-- <div>
        <p></p>
        <div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div> -->
    <h2 class = "heading-aboutus">CoolWater's Management Team</h2>
    {%for employee in employees%}
        <div class = "employee-container">
            <!-- mustache -->
            <img class= "pic-about" src="{{employee['pic']}}", alt="Profile picture"> 
            <p class = "employee-msg">
                <span class = "employee-name">
                    {{employee["name"]}} 
            </span> - <span class = "job">{{employee["job_title"]}}</span>
            </p> 
            <p class = "employee-desc">{{employee["desc"]}}</p>
        </div>
    {% endfor %}
{% endblock %}