{% extends 'base.html' %}

{% block title %} Article {% endblock %}
{% block content %}
    <h1 class="heading-index">Article</h1>
    <div class="middle">
        <div class="article-container">
            <img class = "article-poster" src="{{article['poster']}}" alt="article poster">
            <div class="title-author">
                <p class="title">{{article["title"]}}</p>
                <p class="author">{{article["author"]}}</p>
            </div>
            <p class="article-desc"> {{article["desc"]}}</p>
            <!-- if admin see this -->
            <div class="article-action">
                <a href="/">Back to home page ...</a>
                {% if current_user.email == 'admin123@gmail.com' %}
                    <form class="addarticle-form" action="{{url_for('articleslist.update_article_page')}}" method="post">
                        <input name= "article" type="text" value="{{article}}" hidden>
                        <button type="submit" class="button-15">Update</button>
                    </form>
                    <form class="addarticle-form" action="{{url_for('articleslist.delete_article_by_id')}}" method="post">
                        <input name= "article_id" type="text" value="{{article.id}}" hidden>
                        <button type="submit" class="button-15">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}