<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
<!-- Load external CSS-->
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"> 
</head>
<body id="page-body">
    <!-- nav = Semantic element -->
    <!-- navbar (REBORN) -->
    <!-- the only issue is that the page-link actives are not working -->
    <div class="navbar">
        <div class="leftbar">
            <img class = "logo" src="https://freesvg.org/img/1413121417.png"/>
            <a class = "page-link active" href="/">Home</a>
            <a class = "page-link" href="/policieslist">Policies</a>
            <a class = "page-link" href="/aboutus">About</a>
            <a class = "page-link" href="/help">Help</a>
        </div>
        <div class="rightbar">
            <!-- if -->
            <a class = "page-link" href="/signup">Sign Up</a> 
            <a class = "page-link" href="/login">Login</a>
            <!-- else -->
            <!-- <a class = "page-link" href="/profile">Profile</a> -->
        </div>
    </div>
    <!-- content of page -->
    {% block content %}
    {% endblock %}
    <!-- footer :) -->
    <div class="footer">
        <div class="copyright">
            <p class="copyright-text">
                Copyright © CoolWater is a licensed non-life insurer and Financial Services Provider (FSP 29698). Ts & Cs apply.
            </p>
        </div>
        <div class="socials">
            <div class="three-socials">
                <a href="http://www.facebook.com/coolwater" class="fa fa-facebook"></a>
                <a href="https://instagram.com/coolwater" class="fa fa-instagram"></a>
                <a href="http://twitter.com/coolwater" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
</body>
</html>