{% extends 'base.html' %}

{% block title %} My Claims {% endblock %}
{% block content %}
    <h1 class = "heading-policies">My Claims</h1>
    <div class="middle">
        <div class="topic-container">
            <img class = "topic-pic" src="{{claims['pic']}}" alt="claims pic">
            <div class="lspec-rspec">
                <p class="name">{{claims["name"]}}</p>
                <p class="email">{{claims["email"]}}</p>
            </div>
            <p class="claims-policy_id"> {% if claims["policy_id"] != "0" %} You have the car insurance policy with the id {{claims["policy_id"]}} {% else %} You currently have no insurance products with us {% endif %}</p>
            <div class="topic-action">
                <form class="addclaims-form" action="{{url_for('claims.update_claims_page')}}" method="post">
                    <input name= "claims" type="text" value="{{claims}}" hidden>
                    <button type="submit" class="button-15">Update</button>
                </form>
                <form class="addclaims-form" action="{{url_for('claims.delete_user_by_id')}}" method="post">
                    <input name= "claims_id" type="text" value="{{claims.id}}" hidden>
                    <button type="submit" class="button-15">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}