{% extends 'base.html' %}

{% block title %} My Claims {% endblock %}
{% block content %}
    <h1 class = "heading-policies">My Claims</h1>
    {% if current_user.email == 'admin123@gmail.com' %}
        <a href="/policieslist/add" class="add-but"><button class="button-15" type="submit">Add Claim</button></a>
    {% endif %}
    <div class="all-policies">
        {%for claim in claims%}
        <div class="policy-container">
            <div class="name-price">
                <p class="name">{{current_user.name}}</p>
                <p class="price">R{{claim["amount"]}} claim</p>
            </div>
            <p class="policy-desc"> {{claim["desc"]}}</p>
            <div class="policy-action">
                <!-- Users can choose to delete their claim -->
                <form class="addpolicy-form" action="{{url_for('profile.terminate_claim_by_id')}}" method="post">
                    <input name= "claim_id" type="text" value="{{claim.id}}" hidden>
                    <button type="submit" class="button-15">Delete</button>
                </form>
                <!-- if admin then add CRUD operation buttons -->
                <!-- {% if current_user.email == 'admin123@gmail.com' %}
                    <form class="addpolicy-form" action="{{url_for('policieslist.update_claim_page')}}" method="post">
                        <input name= "claim" type="text" value="{{claim}}" hidden>
                        <button type="submit" class="button-15">Update</button>
                    </form>
                    <form class="addpolicy-form" action="{{url_for('policieslist.delete_claim_by_id')}}" method="post">
                        <input name= "claim_id" type="text" value="{{claim.id}}" hidden>
                        <button type="submit" class="button-15">Delete</button>
                    </form>
                {% endif %} -->
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}