{% extends 'base.html' %}

{% block title %} GetQuote {% endblock %}

{% block content %}
<div class="signup-container">
    <h1 class="getquote-heading">Calculate Quote</h1>
    <!-- if we want to refer to the current URL but with different action as POST -->
    <form class="login-form" action="" method="POST">
        <!-- Hidden input field with token as value (CSRF) -->
        {{form.hidden_tag()}}
        <!-- display error(s) from "validate_year"-->
        {% if form.year.errors %}

            {% for error in form.year.errors %}
                <div style="color:red">{{error}}</div>
            {% endfor %}

        {% endif %}

        <!-- add labels so users always know what they must type in -->
        <div class="form-group">
            {{form.year.label}}: {{form.year(placeholder="Year", class="form-control")}}
        </div>
        <div class="form-group">
            {{form.price.label}}: {{form.price(placeholder="Purchase Price", class="form-control")}}
        </div>
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}