<!-- probably a horrible hack to get this to override -->
<style>
    #page-body {
        /* margin: 0; */
        /* display: grid; */
        /* place-content: center; */
        /* center on y-axis */
        /* min-height: 100vh; */
        /* font-family: sans-serif; */
        line-height: 1.3;
        /* max-width: 100%; */
        /* background: skyblue; */
    }
</style>

{% extends 'base.html' %}
{% block title %} Help {% endblock %}

<!-- <body> -->
    {% block content %}
    <div class="contact-container">
        <img class= "contact-pic" src="https://www.timedoctor.com/blog/images/2023/10/call-center-cost-savings.jpg" alt="callcentre employee">
        <h1 class = "heading-help">Contact Us</h1>
        <div class="detailsandcontact">
            <!-- LEFT -->
            <div class = "details">
                <div class="detailsbox">
                    <h4>Fill in your details below, and a specially-assigned agent will call you back 🙂</h4>
                    <!-- Let's create a very simple form -->
                    <div>
                        <form action="/my-handling-form-page" method="post" class="form-help">
                            <ul class = "form-list">
                                <li>
                                <label class="label-help" for="name">Name:</label>
                                <input class="input-help" type="text" id="name" name="user_name" />
                                </li>
                                <li>
                                    <label class="label-help" for="number">Phone Num:</label>
                                    <input class="input-help" type="text" id="number" name="user_number" />
                                </li>
                                <li>
                                <label class="label-help" for="mail">Email:</label>
                                <input class="input-help" type="email" id="mail" name="user_email" />
                                </li>
                                <li>
                                <label class="label-help" for="msg">Message:</label>
                                <textarea class="textarea-help" id="msg" name="user_message"></textarea>
                                </li>
                                <li class="button">
                                    <button class="formbutton" type="submit">Send request</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>

            <!-- RIGHT -->
            <div class = "contactinfo">
                <div class = "addressbox">
                    <div class="carbox">
                        <h2 class = "car">
                            <i class="fa fa-car"></i>
                        </h2>
                    </div>
                    <div>
                        <h4 class="address-heading">
                            Physical Address 
                        </h4>
                        <div>2 Strand Road,</div>
                        <div>Bellville,</div>
                        <div>Cape Town, 7530</div>
                    </div>
                </div>

                <div class = "phonebox">
                    <div class = "callbox">
                        <h2 class = "car">
                            <i class="fa fa-phone"></i>
                        </h2>
                    </div>
                    <div>
                        <h3>Contact us on: <a href="tel:+27219165000">021 916 5000</a></h3>
                        <h4>Emergency assistance OR CoolDrive service</h4>
                        <div>
                            <a href="tel:+27860726526">0860 726 526</a>
                        </div>
                        <div>
                            Emergency line is open 24 hours a day
                        </div>
                        <div>
                            For CoolDrive, please book at least 72 hours in advance
                        </div>
                        <h4>Report any incidents of:</h4>
                        <div>
                            <ul>
                                <li>Fraud</li>
                                <li>Corruption</li>
                                <li>Misconduct ot</li>
                                <li>Unethical behaviour</li>
                            </ul>
                        </div>
                        <h4>To the CoolWater Ethics & Fraud Hotline on the following reporting channels</h4>
                        <div>
                            <ul>
                                <li>Whatsapp: <a href="tel:+27860726526">0860 726 526</a></li>
                                <li>Email: <a href="mailto:coolwater@becool.com">coolwater@becool.com</a></li>
                                <li>Online: <a href="https://becool.co.za">becool.co.za</a></li>
                            </ul>
                        </div>
                        <h4>We value your feedback ad welcome any comments</h4>
                        <div>
                            <a href="https:coolfeedback.co.za">coolfeedback.co.za</a>
                        </div>
                    </div>
                </div>

                <div class="services">
                    <div class="timebox">
                        <h2 class="car">
                            <i class="fa fa-clock-o"></i>
                        </h2>
                    </div>
                    <div>
                        <div class="services-grid">
                            <div>
                                <h4>Client Services</h4>
                                <div>Mon-Fri: 08h00 - 18h00</div>
                                <div>Sat: 08h00 - 13h00</div>
                            </div>
                            <div>
                                <h4>Sales</h4>
                                <div>Mon-Fri: 08h00 - 18h00</div>
                                <div>Sat: 08h00 - 13h00</div>
                            </div>
                            <div>
                                <h4>Claims</h4>
                                <div>Mon-Fri: 08h00 - 17h00</div>
                                <div>Sat: 08h00 - 13h00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
<!-- </body> -->