{% extends 'base.html' %}

{% block title %} CoolWater {% endblock %}

{% block content %}
<div class="main-body">
    <h1 class="heading-index">Welcome!</h1>
    <a href="/articleslist/add"><button class="addbut" type="submit">Add Article</button></a>
    <div class="all-articles">
        {%for article in articles%}
        <div class="article-container">
            <img class = "article-poster" src="{{article['poster']}}" alt="article poster">
            <div class="title-author">
                <p class="title">{{article["title"]}}</p>
                <p class="author">{{article["author"]}}</p>
            </div>
            <p class="article-desc"> {{article["desc"]}}</p>
            <div class="article-action">
                <a href="/articleslist/{{article['id']}}">Read More ...</a>
                <form class="addarticle-form" action="{{url_for('articleslist.update_article_page')}}" method="post">
                    <input name= "article" type="text" value="{{article}}" hidden>
                    <button type="submit" class="btn btn-light">Update</button>
                </form>
                <form class="addarticle-form" action="{{url_for('articleslist.delete_article_by_id')}}" method="post">
                    <input name= "article_id" type="text" value="{{article.id}}" hidden>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}