{% extends 'base.html' %}

{% block title %} Login {% endblock %}

    <!-- <div class="navbar">
        <div class="leftbar">
            <img class = "logo" src="https://freesvg.org/img/1413121417.png"/>
            <a class = "page-link" href="/">Home</a>
            <a class = "page-link" href="/policieslist">Policies</a>
            <a class = "page-link" href="/aboutus">About</a>
            <a class = "page-link" href="/help">Help</a>
        </div>
        <div class="rightbar"> -->
            <!-- if -->
            <!-- <a class = "page-link" href="/signup">Sign Up</a> -->
            <!-- <a class = "page-link active" href="/login">Login</a> -->
            <!-- else -->
            <!-- <a class = "page-link" href="/profile">Profile</a> -->
        <!-- </div> -->
    <!-- </div> -->
{% block content %}
    <div class="login-container">
        <h1 class = "login-heading">Login</h1>
        <div class="q">
            <a href="/signup">Don't have an account?</a>
        </div>
        <!-- if we want to refer to the current URL but with different action as POST -->
        <form class="login-form" action="" method="post">
            <!-- Hidden input field with token as value (CSRF) -->
            {{form.hidden_tag()}}
            <!-- display error(s) from "validate_email"-->
            {% if form.email.errors %}

                {% for error in form.email.errors %}
                    <div style="color:red">{{error}}</div>
                {% endfor %}

            {% endif %}

            {% if form.password.errors %}

                {% for error in form.password.errors %}
                    <div style="color:red">{{error}}</div>
                {% endfor %}

            {% endif %}

            <!-- add labels so users always know what they must type in -->
            <div class="form-group">
                <!-- add "is-invalid" next to "form-control" if there are errors -->
                {{form.email.label}}: {{form.email(placeholder="Email", class="form-control {{ if form.email.errors 'is-invalid' }}")}}
            </div>
            <div class="form-group">
                {{form.password.label}}: {{form.password(placeholder="Password", class="form-control")}}
            </div>
            {{form.submit(class="btn btn-primary")}}
        </form>
    </div>
{% endblock %}