{% extends 'base.html' %}

{% block title %} My Policies {% endblock %}
{% block content %}
    <h1 class = "heading-policies">Profile</h1>
    <div class="middle">
        <div class="topic-container">
            <img class = "topic-pic" src="{{profile['pic']}}" alt="profile pic">
            <div class="lspec-rspec">
                <p class="name">{{profile["name"]}}</p>
                <p class="email">{{profile["email"]}}</p>
            </div>
            <p class="profile-policy_id"> {% if profile["policy_id"] != "0" %} You have the car insurance policy with the id {{profile["policy_id"]}} {% else %} You currently have no insurance products with us {% endif %}</p>
            <div class="topic-action">
                <form class="addprofile-form" action="{{url_for('profile.update_profile_page')}}" method="post">
                    <input name= "profile" type="text" value="{{profile}}" hidden>
                    <button type="submit">Update</button>
                </form>
                <form class="addprofile-form" action="{{url_for('profile.delete_user_by_id')}}" method="post">
                    <input name= "profile_id" type="text" value="{{profile.id}}" hidden>
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}