{% extends 'base.html' %}

{% block title %} My Policies {% endblock %}
{% block content %}
    <h1 class = "heading-policies">My Policies</h1>
    <div class="middle">
        <div class="topic-container">
            <img class = "topic-pic" src="{{policies['pic']}}" alt="policies pic">
            <div class="lspec-rspec">
                <p class="name">{{policies["name"]}}</p>
                <p class="email">{{policies["email"]}}</p>
            </div>
            <p class="policies-policy_id"> {% if policies["policy_id"] != "0" %} You have the car insurance policy with the id {{policies["policy_id"]}} {% else %} You currently have no insurance products with us {% endif %}</p>
            <div class="topic-action">
                <form class="addpolicies-form" action="{{url_for('policies.update_policies_page')}}" method="post">
                    <input name= "policies" type="text" value="{{policies}}" hidden>
                    <button type="submit" class="button-15">Update</button>
                </form>
                <form class="addpolicies-form" action="{{url_for('policies.delete_user_by_id')}}" method="post">
                    <input name= "policies_id" type="text" value="{{policies.id}}" hidden>
                    <button type="submit" class="button-15">Terminate</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}