{% extends 'base.html' %}

{% block title %} Policy {% endblock %}

{% block content %}
    <h1 class = "heading-policies">Policy</h1>
    <div class="middle">
        <div class="topic-container">
            <img class = "topic-pic" src="{{policy['poster']}}" alt="policy poster">
            <div class="lspec-rspec">
                <p class="name">{{policy["name"]}}</p>
                <p class="price">R{{policy["price"]}}p/m</p>
            </div>
            <p class="policy-desc"> {{policy["desc"]}}</p>
            <div class="topic-action">
                <a href="/policieslist">Back to all policies ...</a>
                {% if current_user.isauthenticated and not current_user.email == 'admin123@gmail.com' %}
                    <form class="addpolicy-form" action="{{url_for('policieslist.take_out_policy')}}" method="post">
                        <input name= "policy_id" type="text" value="{{policy.id}}" hidden>
                        <button type="submit">Take Out Policy</button>
                    </form>
                {% endif %}
                {% if current_user.email == 'admin123@gmail.com' %}
                    <form class="addpolicy-form" action="{{url_for('policieslist.update_policy_page')}}" method="post">
                        <input name= "policy" type="text" value="{{policy}}" hidden>
                        <button type="submit">Update</button>
                    </form>
                    <form class="addpolicy-form" action="{{url_for('policieslist.delete_policy_by_id')}}" method="post">
                        <input name= "policy_id" type="text" value="{{policy.id}}" hidden>
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}