<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Policies Page</h1>
    {%for policy in policies%}
    <div class="policy-container">
        <img class = "policy-poster" src="{{policy['poster']}}" alt="policy poster">
        <p class="name&price">{{policy["name"]}} - R{{policy["price"]}}p/m</p>
        <p class="policy-desc"> {{policy["desc"]}}</p>
    </div>
    {% endfor %}
</body>
</html> 