<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Article</title>
    <style>
        .uparticle-form {
            display: grid;
            gap: 12px;
        }
    </style>
</head>
<body>
    <!-- Have to use GET or POST as these 2 methods are the only 2 supported by forms -->
    <!-- POST (more secure) -->
    <form class="uparticle-form" action="{{url_for('articleslist.update_article_list')}}" method="post">
        <!-- input element to accept user input -->
        <!-- name = key for your value -->
        <input hidden name="id" type="text" value="{{article['id']}}"/>
        <input name="title" type="text" value="{{article['title']}}"/>
        <input name="author" type="text" value="{{article['author']}}"> 
        <input name="poster" type="text" value="{{article['poster']}}"/>        
        <input name="desc" type="text" value="{{article['desc']}}"/>
        <button type="submit" class="button-15">Update article</button>
    </form>
</body>
</html>